@import '../../../styles/main.scss';

.custom-width-card {
	width: 348px;
	height: 83px;

	&:hover {
		cursor: pointer;
		box-shadow: 2px 9px 15px $gray-6;
	}
}

.content {
	display: flex;
	gap: 11px;
	align-items: center;

	&:hover {
		cursor: pointer;
		color: $macro-blue !important;
	}
}

.icon {
	transition: fill 0.3s ease;

	&:hover {
		fill: $macro-blue !important;
	}
}

.text {
	font-size: 20px;
}
