@import '../../../styles/main.scss';

.custom-checkbox {
    
    display:flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    width: 220px;
    box-shadow: 0px 5px 7px $gray-6;
    margin: 10px;
}