@import '../../../styles/main.scss';

.color-picker-container {
	display: flex;
	align-items: center;
	// background-color: darkseagreen;
	flex-direction: row-reverse;
    height:auto;
    justify-content: flex-start;
}

.color-picker-bar {
	width: 10px;
	height: 100%;
	background: linear-gradient(to bottom, $macro-error, $macro-warning, $macro-yellow, $macro-low-priority, $macro-low-priority-light);
	position: relative;
	border-radius: 20px;
	margin-right: 15px;
}

.color-range {
	//   -webkit-appearance: none;
	// appearance: none;
	width: 100%;
	height: 20px;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.color-range::-webkit-slider-thumb {
	//   -webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.color-value {
	margin-top: 10px;
	padding: 5px;
	font-size: 16px;
	width: 120px;
	text-align: center;
	border: 1px solid $gray-6;
	border-radius: 5px;
}
