@import '../../../styles/main.scss';

.ant-btn,
.ant-btn-default,
.ant-btn-circle {
	background-color: $macro-blue !important;
	color: $macro-yellow !important;
	cursor: pointer;
	width: fit-content;

	&:hover {
		background-color: $macro-blue;
		color: $macro-yellow;
		cursor: pointer;		
	}

	&.icon-drawer{
		background-color: #FFFF !important;
		color: $macro-gray-dark !important;
		border: none;
		box-shadow: none;
	}
}
